*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
a{
    text-decoration: none;
}
.header{
    position: fixed;
    display: flex;
    width: 100%;
    min-height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: blue);
}
.contenedor_logo, .nav{
    display: flex;
    align-items: center;
    height: 100%;
}
.logo{
    height: 40px;
}
.caja{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: 100%;
}
.caja-barra{
    width: 40px;
    height: 8px;
    margin: 2px 0; 
    border-radius: 10px;
    background-color: white;
}
.nav-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 35px;
    margin-right: 50px;
}
.nav-link:hover{
    color: black;
    background-color: white;
    border-radius: 20px;
}
@media (max-width:659px){
    .header{
        flex-direction: column;
        position: absolute;
    }
}
@media (max-width:480px){
    .header, .nav{
        flex-direction: column;
    }
}
#pie{
    background-image: url(./image/Pie.jpg);
    width: 100%;
    background-size: 100% ;
    height: 300px;
    max-height: 450px;
    display: flex;
}